<a href="https://colab.research.google.com/github/Nargis45/Hypothesis_Testing/blob/main/chi_square_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import scipy.stats as stats
import seaborn as sns
import pandas as pd
import numpy as np

In [3]:
data=sns.load_dataset('tips')

In [4]:
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
dataset_table=pd.crosstab(data['sex'],data['smoker'])
dataset_table

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [8]:
observed_values=dataset_table.values

In [9]:
print(observed_values)

[[60 97]
 [33 54]]

In [10]:
val=stats.chi2_contingency(dataset_table)

In [11]:
val

(0.0, 1.0, 1, array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

In [12]:
expected_values=val[3]

In [13]:
expected_values

array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]])

In [16]:
no_of_rows=len(dataset_table.iloc[0:2,0])
no_of_columns=len(dataset_table.iloc[0,0:2])
dof=(no_of_rows-1)*(no_of_columns-1) # dof=degree of freedom
print("degree of freedom:", dof)
alpha=0.05

degree of freedom: 1

In [17]:
from scipy.stats import chi2
chi_sq=sum([(o-e)**2./e for o,e in zip(observed_values, expected_values)])
chi_sq_statistic=chi_sq[0]+chi_sq[1]

In [18]:
chi_sq_statistic

0.001934818536627623

In [21]:
critical_value=chi2.ppf(q=1-alpha,df=dof) # ppf=percent point function. it is inverse of cdf at q of the given random variable
critical_value

3.841458820694124

In [22]:
p_value=1-chi2.cdf(x=chi_sq_statistic,df=dof)
p_value

0.964915107315732

In [23]:
alpha

0.05

In [24]:
dof

1

In [28]:
if chi_sq_statistic>=critical_value:
  print("reject H0,there is a relationship b/w 2 categorical values")
else:
  print("retain H0,there is no relationship b/w 2 categorical values")

retain H0,there is no relationship b/w 2 categorical values

In [26]:
if p_value<=alpha:
  print("reject H0,there is a relationship b/w 2 categorical values")
else:
  print("retain H0,there is no relationship b/w 2 categorical values")

retain H0,there is no relationship b/w 2 categorical values

In [27]:
# so either follow critical value or p_value to get the hypothesis